.app {
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .app {
    max-width: 800px;
  }
}
